<h1>Create a Team</h1>
<%= form_for :team, url: teams_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :event %><br>
		<%= collection_select(:team, :event_id, Event.all, :id, :city, {:prompt => true}) %>
	</p>

	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>
<%= link_to "Join a team instead", teams_join_path %>
