<div class="team-header" style="<%= if @team.team_photo_url && @team.team_photo_url != "" then "background-image: url(#{@team.team_photo_url})" end %>">
	<div class="team-header-inner animated fadeInUp">
		<h1><%= @team.name %></h1>
		<p>
			<%= @team.project %> // CodeDay <%= "#{@team.event.city} #{@team.batch.name}" %>
			<% if current_user && current_user.admin %>
				// <%= link_to "Edit", edit_team_path(@team) %>
			<% end %>
		</p>
	</div>
</div>

<div class="content-inner">
	<% if @team.project_description && @team.project_description != "" %>
		<h2>Project Description</h2>

		<div class="team-description">
			<%= @team.description_rendered.html_safe %>
		</div>
	<% end %>

	<h2 class="center">Team Members</h2>

	<div class="team-members">
		<% @team.users.each do |user, index| %>
			<div class="team-member animated fadeInUp">
				<div class="team-member-image" style="background-image: url(https://s5.studentrnd.org/photo/<%= user.s5_username %>_128.jpg?new)"></div>
				<div class="team-member-name">
					<%= link_to user.name, user %>
				</div>
			</div>
		<% end %>
	</div>

	<!-- <ul>
		<% @team.users.each do |user| %>
			<li><%= link_to user.name, user %></li>
		<% end %>
	</ul> -->

	<% if current_batch.awards_shown %>
		<h2 class="center">Awards</h2>

		<div class="team-awards">
			<% if @team.awards.count == 0 %>
				This team didn't receive any awards this CodeDay.
			<% else %>
				<% @team.awards.each do |award| %>
					<div class="award">
						<%= award.name %>
					</div>
				<% end %>
			<% end %>
		</div>

		<%= @team.extra_rendered.html_safe %>
	<% else %>
		<p>
			Awards aren't shown yet for this season, wait until the event is over to
			see who got what awards!
		</p>
	<% end %>

</div>
