<div class="team-header" style="<%= if @team.team_photo_url && @team.team_photo_url != "" then "background-image: url(#{@team.team_photo_url})" end %>">
	<div class="team-header-inner animated fadeInUp">
		<h1><%= @team.name %></h1>
		<p>
			CodeDay <%= "#{@team.event.city} #{@team.batch.name}" %>
			<% if current_user && current_user.admin %>
				// <%= link_to "Edit", edit_team_path(@team) %>
			<% end %>
		</p>
	</div>
</div>

<div class="content-inner">
	<div class="section group">
		<div class="col span_2_of_3">
			<% if @team.youtube_url && @team.youtube_url != "" %>
				<div class="team-video">
					<iframe width="100%" src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(@team.youtube_url) %>" frameborder="0" allowfullscreen></iframe>
				</div>
			<% end %>

			<div class="team-short-description">
				<%= @team.short_description %>
			</div>

			<% if @team.project_description && @team.project_description != "" %>
				<div class="team-description">
					<%= @team.description_rendered.html_safe %>
				</div>
			<% end %>

			<!-- <ul>
				<% @team.users.each do |user| %>
					<li><%= link_to user.name, user %></li>
				<% end %>
			</ul> -->

			<!-- <% if current_batch.awards_shown %>
				<%= @team.extra_rendered.html_safe %>
			<% end %> -->
		</div>
		<div class="col span_1_of_3 team-section-right">
			<h2 class="no-margin-top">Created By</h2>

			<div class="team-members">
				<% @team.users.each do |user, index| %>
					<div class="team-member animated fadeInUp">
						<div class="team-member-image" style="background-image: url(https://s5.studentrnd.org/photo/<%= user.s5_username %>_128.jpg?new)"></div>
						<div class="team-member-name">
							<%= link_to user.name, user %>
						</div>
					</div>
				<% end %>
			</div>

			<h2>Tags</h2>

			<div class="team-tags">
				<% @team.tags.each do |tag| %>
					<%= render partial: "/tag", locals: { p_tag: tag } %>
				<% end %>
			</div>

			<h2>Awards</h2>

			<div class="team-awards">
				<% if @team.awards.count == 0 %>
					This team didn't receive any awards this CodeDay.
				<% else %>
					<% @team.awards.each do |award| %>
						<div class="award">
							<%= award.name %>
						</div>
					<% end %>
				<% end %>
			</div>

			<h2>Links</h2>

			<div class="team-links">
				<% if @team.download_url && @team.download_url != "" %>
					<p>
						<%= fa_icon "cloud-download" %> <%= link_to "Download", @team.download_url, :target => "_blank" %>
					</p>
				<% end %>

				<% if @team.website_url && @team.website_url != "" %>
					<p>
						<%= fa_icon "globe" %> <%= link_to "Website", @team.website_url, :target => "_blank" %>
					</p>
				<% end %>
			</div>

			<h2>Share</h2>

			<div class="team-share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this CodeDay project: <%= @team.name %>" data-via="StudentRND" data-size="large" data-related="StudentRND" data-hashtags="CodeDay">Tweet</a>
			</div>
		</div>
	</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
