<h1>Register</h1>

<div class="login-form">
  <table>
    <% if @application.is_a? Application %>
      <tr>
        <b><%= @application.name %></b> by <b><%= link_to @application.user.username, @application.user %></b> is requesting your public info. Register to allow this.
        <br><br>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= form_for :user do |u| %>
          <p>
            <%= u.label :username %><br>
            <%= u.text_field :username, "data-hackone" => "username" %>
          </p>

          <p>
            <%= u.label :first_name %><br>
            <%= u.text_field :first_name, "data-hackone" => "bio.firstName" %>
          </p>

          <p>
            <%= u.label :last_name %><br>
            <%= u.text_field :last_name, "data-hackone" => "bio.lastName" %>
          </p>

          <p>
            <%= u.label :password %><br>
            <%= u.text_field :password, :type => "password" %>
          </p>

          <p>
            <%= u.submit "Register" %> or <%= link_to "Log in", "/login#{if params[:appid] then "?appid=#{params[:appid]}" end}" %>
          </p>
        <% end %>
      </td>
      <td>
        <a href="<%= @s5_sso_url %>"><s5-button>Log in with StudentRND s5</s5-button></a>
      </td>
    </tr>
  </table>
</div>
