<h1><%= @user.name %> (<%= @user.username %>)</h1>
<% if @user.s5_username %>
	s5 username: <%= link_to @user.s5_username, "https://s5.studentrnd.org/user/#{@user.s5_username}" %>
	<br>
<% end %>
<% if @user.current_team %>
	Team: <%= link_to @user.current_team.name, @user.current_team %>
	<br>
	Their team is working on <%= @user.current_team.project || "nothing" %>.
<% else %>
	Team: (none)
<% end %>
